{% extends 'blog_base.html' %}
{% block static %}
  {% load staticfiles %}
  <script src="{% static 'blog/js/ui.js' %}"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'blog/css/layouts/blog.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'blog/css/layouts/markdown.css' %}" />
  <link rel="stylesheet" href="{% static 'blog/css/layouts/styles/default.css' %}" />
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,700,400&subset=latin,latin-ext' rel='stylesheet' type='text/css' />
  <script src="{% static 'blog/js/highlight.pack.js'%}"></script>
  <script>hljs.initHighlightingOnLoad();</script>
{% endblock %}
{% block title %}杆子哥的网站-作者{% endblock %}
{% block content %}
  <div class="posts">
      {% if author %}
                <h1 class="content-head ">{{author.name}}</h1>
                <p  >{{author.introduction}}</p>
      {% endif %}
  </div>
{% endblock %}
</html>
