<!doctype html>
<html lang="en">
{% extends 'photo_base.html' %}
{% block static %}
  {% load staticfiles %}
  <script src="{% static 'photo/js/ui.js' %}"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'photo/css/layouts/side-menu.css' %}" />
{% endblock %}
{% block title %}杆子哥的网站-图像{% endblock %}
{% block style %}
<style>
.image{
  margin: 1em 0em;
  width: 100%;
  height:auto;
  text-align: center;
}
.header{margin-bottom: 2em;}
.is_right{text-align: right;}
</style>
{% endblock %}
{% block main %}
    <div id="main">
        <div class="content">
            <div class="header">
              <h1>{{image.title}}</h1>
            </div>
            <img class=image src="{{image.photo}}" alt="{{image.title}}">
            <p>{{image.summary}}</p>
            <h4 class="is_right">——By {{image.author.name}}</h4>
        </div>
    </div>
{% endblock %}

</html>
