<!doctype html>
<html lang="en">
{% extends 'photo_base.html' %}
{% block main %}
  <div class="pure-g">
  {% if recent_photos %}
    <div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
      <a href="{% url 'photo:detail' current_page.number recent_photos.0.id %}">
          <img src="{{recent_photos.0.photo}}"
               alt="{{recent_photos.0.title}}">
      </a>

      <aside class="photo-box-caption">
          <span>
              {{recent_photos.0.pub_time}}
          </span>
      </aside>
  </div>
    <div class="text-box pure-u-1 pure-u-md-1-2 pure-u-lg-2-3">
      <div class="l-box">
          <h1 class="text-box-head">杆子哥的图集</h1>
          <p class="text-box-subhead">A collection of Interesting photos</p>
      </div>
  </div>
  {% endif %}
  {% if recent_photos|slice:"1:4" %}
    {% for photo in recent_photos|slice:"1:4" %}
      <div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
      <a href="{% url 'photo:detail' current_page.number photo.id %}">
          <img src="{{photo.photo}}"
               alt="{{photo.title}}">
      </a>

      <aside class="photo-box-caption">
          <span>{{photo.pub_time}}</a></span>
      </aside>
    </div>
    {% endfor %}
  {% endif %}
  {% if recent_photos|slice:"4:5" %}
    {% for photo in recent_photos|slice:"4:5" %}
      <div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-2-3">
       <a href="{% url 'photo:detail' current_page.number photo.id %}">
          <img src="{{photo.photo}}"
               alt="{{photo.title}}">
       </a>

       <aside class="photo-box-caption">
          <span>{{photo.pub_time}}</a></span>
       </aside>
      </div>
    {% endfor %}
  {% endif %}
  {% if recent_photos|slice:"5:7" %}
    {% for photo in recent_photos|slice:"5:7" %}
      <div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
       <a href="{% url 'photo:detail' current_page.number photo.id %}">
           <img src="{{photo.photo}}"
               alt="{{photo.title}}">
       </a>

       <aside class="photo-box-caption">
           <span>{{photo.pub_time}}</a></span>
       </aside>
      </div>
    {% endfor %}
  {% endif %}
  {% if recent_photos|slice:"7:8" %}
    {% for photo in recent_photos|slice:"7:8" %}
      <div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-2-3">
        <a href="{% url 'photo:detail' current_page.number photo.id %}">
          <img src="{{photo.photo}}"
               alt="{{photo.title}}">
        </a>

        <aside class="photo-box-caption">
          <span>{{photo.pub_time}}</a></span>
        </aside>
      </div>
    {% endfor %}
  {% endif %}
</div>
  <div class="page pure-menu pure-menu-horizontal">
  <ul>
    {% if current_page %}
      {% if current_page.has_previous %}
        <li class="pure-menu-item"><a href="{% url 'photo:page' current_page.previous_page_number %}" class="pure-menu-link">上一页</a></li>
      {% endif %}
        <li class="pure-menu-item"><a href="{% url 'photo:page' current_page.number %}" class="pure-menu-link">第{{current_page.number}}页</a></li>
      {% if current_page.has_next %}
        <li class="pure-menu-item"><a href="{% url 'photo:page' current_page.next_page_number %}" class="pure-menu-link">下一页</a></li>
      {% else %}
        <li class="pure-menu-item"><a href="{% url 'photo:index' %}" class="pure-menu-link">返回首页</a></li>
      {% endif %}
    {% endif %}
  </ul>
</div>
  <div class="pure-u-1">
      <div class="l-box white">
          <h2>Creating a Photo Gallery For Life</h2>

          <p>
            Life is colorful, this website was, is and will be the window which used to present the color of my life.
          </p>

          <p>

          </p>
      </div>
</div>
  <div class="footer ">
  Who Can Deny The Joy It Brings, When You Find The Special Thing.
</div>
{% endblock %}
</html>
